<h1>Restaurants</h1>

<%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-success mb-3" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= restaurant.category %></td>
        <td><%= restaurant.address %></td>
        <td class="text-end">
          <%= link_to "Edit", edit_restaurant_path(restaurant), class: "btn btn-warning btn-sm" %>
          <%= link_to "Delete", restaurant_path(restaurant),
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                      class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
